<!doctype html>
<html>
<head>
    <title>Dashboard</title>
    <div class="logo">
        <img src="???">
    </div>
    <div class="logout">
        <form action="/logout" method="GET">
            <button type="submit">Log Out</button>
        </form>
    </div>
</head>
<body>
    <div class="title">
        <h1>Location Panel</h1>
        
    </div>
    <% if () { %>

    <% } %>
</body>
</html>