<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <Title>Login</Title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../Public/css/loginStyle.css">
  <link rel="stylesheet" href="../Public/css/dashboardStyle.css">
  <script src="js/login.js" defer></script>
</head>

<body>
    <div class="wrapper">
    <h2>Login</h2>
        <form action="/api/login" method="POST" id="loginForm">
            <div class="input-box">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Enter your username" required>
            </div>
            <div class="input-box">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter your password" required>
            </div>
            <div class="input-box button_1">
            <input type="Submit" value="Login">
            </div>
            <div class="text">
            <h5><a href="/contact">CONTACT</a></h5>
            </div>
        </form>
        <div class="text">
          <h3><a href="/register">Register</a></h3>
        </div>
    </div>
</body>

</html>