<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location management</title>
</head>
<body>
    <div class="title">
        <h1>Location Panel</h1>
    </div>

    <div class="locationCard">
        <% if(!Locations) { %>
            <h2>No Location Found</h2>
        <% } else { %> 
            <% for(const i of Locations) { %> 
                <div>
                    <div>
                        <span>Name: </span><%=i.name%><br>
                        <span>Address: <%=i.address%></span><br><br>
                    </div>
                </div>
            <% } %>
        <% } %> 
    </div>

    <div class="addLocationCard">
        <h3><a href="/registerLocation">Add a New Location</a></h3>
    </div>
</body>
</html>