<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <Title>Distro - 404</Title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./output.css">
</head>

<body>
  <%- include('partials/navbar.ejs', session) %>

  <%- include('partials/404.ejs') %>

  <%- include('partials/footer.ejs') %>
</body>

</html>