<!doctype html>
<html>
<head>
    <title>Order</title>
    <div class="logo">
        <img src="???"><a href="/dashboard">Home</a>
    </div>
</head>
<body>
    <div class="title">
        <h1>Order Status</h1>
    </div>

    <div class="addItemField">
        <h3>Add Item</h3>
    </div>

    <div class="currentOrderField">
        <h3>Current Order</h3>
    </div>

</body>
</html>