<!doctype html>
<html>
<head>
    <title>Order</title>
    <div class="logo">
        <img src="???"><a href="/dashboard">Home</a>
    </div>
</head>
<body>
    <div class="title">
        <h1>Order Status</h1>
    </div>

    <div class="listWarehouse">
        <% if(!Warehouses) { %>
            <h2>No Warehouse Found</h2>
        <% } else { %> 
            <% for(const i of Warehouses) { %> 
                <div class="warehouseCard">
                    <span>Name: </span><%=i.name%><br>
                    <span>Address: <%=i.address%></span><br>
                    <form action="/inventory/<%=i.locationID%>" method="GET">
                        <button type="submit">View Inventory</button>
                    </form>
                </div>
            <% } %>
        <% } %> 
    </div>

</body>
</html>