<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location Registration</title>
    <link rel="stylesheet" type="text/css" href="css/register.css">
    <div class="logo">
        <img src="???"><a href="/dashboard">Home</a>
    </div>
</head>
<body>
    <div class = "registrationPage">
        <h2>Make an Order</h2><br>
        <form action="/api/orderReq" method="POST" id="orderForm">
            
            <label for="item">Item Name:</label>
            <select name="itemID" id="itemID" required>
                <option value="">--Please Select Item to add to your Inventory--</option>
                <% for (const i of AllItems) { %>
                <option value="<%=i.itemID%>"><%=i.itemName%> (<%=i.itemBrand%>)</option>
            <% } %>
            </select><br><br>
            <label for="quantity">Item Quantity:</label>
            <input type="number" id="quantity" name="quantity" required><br><br>

            <input type="hidden" id="locationID" name="locationID" value="<%=clientLocation%>">
            <button type="submit">Submit</button>
        </form>
        <br><br>
    </div>
</body>
</html>

<!-- itemID TEXT PRIMARY KEY,
itemName TEXT UNIQUE NOT NULL,
itemBrand TEXT NOT NULL,
catagory TEXT, -- Catagory of Item
quantity INTEGER DEFAULT 0 -->