<!doctype html>
<html>
<head>
    <title>Order</title>
    <div class="logo">
        <img src="???">
    </div>
    <div class="dashboardCard">
        <h3><a href="/dashboard">Dashboard</a></h3>
    </div>
    <div class="logout">
        <form action="/logout" method="GET">
            <button type="submit">Sign Out</button>
        </form>
    </div>
</head>
<body>
    <div class="title">
        <h1>Order Status</h1>
    </div>

    <div class="addItemField">
        <h3>Add Item</h3>
    </div>

    <div class="currentOrderField">
        <h3>Current Order</h3>
    </div>

</body>
</html>