<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distro - Register</title>
    <link rel="stylesheet" type="text/css" href="css/register.css">
</head>
<body>
    <div class = "registrationPage">
        <h2>Registration</h2><br>
        <form action="/api/registerEmployee" method="POST" id="registerForm">
            
            <label for="name">Name of Location:</label>
            <input type="text" id="name" name="name" required><br><br>
        
            <label for="address">Address:</label>
            <input type="address" id="address" name="address" required><br><br>
    
            <br><br>
            <button type="submit">Submit</button>
            
        </form>
        <br><br>
    </div>
    
    

</body>
</html>


<!-- <fieldset>
                <legend>Role:</legend>
                <div>
                    <input type="radio" id="locationManager" name="role" value=1 checked>
                    <label for="locationManager">Location Manager</label>
                </div>
                <div>
                    <input type="radio" id="warehouseManager" name="role" value=2 >
                    <label for="warehouseManager">Warehouse Manager</label>
                </div>
                <div>
                    <input type="radio" id="ownwer" name="role" value=3 >
                    <label for="ownwer">Owner</label>
                </div>
                <div>
                    <input type="radio" id="admin" name="role" value=4 >
                    <label for="admin">Admin</label>
                </div>
            </fieldset>
            <br><br> -->