<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Registration</title>
    <link rel="stylesheet" type="text/css" href="css/register.css">
    <div class="logo">
        <img src="???"><a href="/dashboard">Home</a>
    </div>
</head>
<body>
    <div class = "registrationPage">
        <h2>Employee Registration</h2><br>
        <form action="/dashboard/api/registerEmployee" method="POST" id="registerForm">
            
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
        
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
        
            <label for="passwordConfirm">Confirm Password:</label>
            <input type="password" id="passwordConfirm" name="passwordConfirm" required><br><br>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="example@gmail.com"required><br><br>

            <label for="firstName">First Name:</label>
            <input type="firstName" id="firstName" name="firstName" required><br><br>

            <label for="lastName">Last Name:</label>
            <input type="lastName" id="lastName" name="lastName" required><br><br>

            <label for="locaiton">Location:</label>
            <select name="location" id="location" required>
                <option value="">--Please Select Location (Location Manager)--</option>
                <% for (const i of Locations) { %>
                <option value="<%=i.locationID%>"><%=i.name%></option>
            <% } %>
                <option value="">--Please Select Warehouse (Warehouse Manager)--</option>
                <% for (const i of Warehouses) { %>
                    <option value="<%=i.locationID%>"><%=i.name%></option>
                <% } %>

            </select>

            <br><br>
            <button type="submit">Submit</button>
        </form>
        <br><br>
    </div>
</body>
</html>
