<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse Registration</title>
    <link rel="stylesheet" type="text/css" href="css/register.css">
</head>
<body>
    <div class = "registrationPage">
        <h2>Warehouse Registration</h2><br>
        <form action="/api/registerWarehouse" method="POST" id="registerForm">
            
            <label for="name">Name of Warehouse:</label>
            <input type="text" id="name" name="name" required><br><br>
        
            <label for="address">Address:</label>
            <input type="address" id="address" name="address" required><br><br>
            <br>
            <button type="submit">Submit</button>
        </form>
        <br><br>
    </div>
</body>
</html>