<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <Title>Distro - Warehouse</Title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./output.css">
</head>

<body>
  <%- include('partials/navbar.ejs', session) %>

  <% if(session.isLoggedIn === true) { %>
    <h1 class="text-4xl text-green-600">You're logged in!</h1>
        <% if(session.role === 2) { %>                                                                            
            <h2>You're a Warehouse Manager (role=1), you have access to this WAREHOUSE page</h2>
        <% } else if(session.role === 3) { %>                                                                            
            <h2>You're a Company Owner (role=3), you have access, but your WAREHOUSE access will look different.</h2>
        <% } else if(session.role === 4) { %>                                                                            
            <h2>You're an Administrator (role=4), you also have access, but your WAREHOUSE access will look different.</h2>
        <% } else { %>
            <div>
                <%- include('partials/accessDenied.ejs') %>
            </div>
    <% }} %>

    <% if(session.isLoggedIn === false) { %>
        <h1 class="text-4xl text-red-600">YOU ARE NOT LOGGED IN</h1>
        <%- include('partials/accessDenied.ejs') %>
    <% } %>

    <h3 class="text-sm">Everyone should be able to see this bottom line, even if they aren't logged in.</h3>
</body>

</html>