<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee management</title>
    <div class="logo">
        <img src="???"><a href="/dashboard">Home</a>
    </div>
</head>
<body>
    <div class="title">
        <h1>Employee Panel</h1>
    </div>
    <div class="listEmployee">
        <% if(!Employees) { %>
            <h2>No Employee Found</h2>
        <% } else { %> 
            <% for(const i of Employees) { %> 
                <div>
                    <div>
                        <span>Name: </span><%=i.firstName%> <%=i.lastName%><br>
                        <% if(i.role == 1) { %>
                            <span>Role: Location Manager</span><br>
                        <% } else if (i.role == 2) { %>
                            <span>Role: Warehouse Manager</span><br>
                        <% } %>
                        <address id="card-cont">Email:<a href="mailto:"+<%=i.email%>><%=i.email%></a></address>
                        <br><br>
                    </div>
                </div>
            <% } %>
        <% } %> 
    </div>
    <div class="registerEmployeeCard">
        <h3><a href="/registerEmployee">Add a New Employee</a></h3>
    </div>
</body>
</html>